body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
}
.container { padding: 30px; }
.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
}
input, select, button {
  width: 90%;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  border: none;
}
button {
  background: #32ff7e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}